@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

/* react-timeline-vertical-component line color */
html {
  --line-color: #e5e7eb;
}

/* react-timeline-vertical-component line color (dark mode) */
html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
}

@utility borderBlack {
  @apply border border-black/10;
}

/* Hide reCAPTCHA v2 badge */
.grecaptcha-badge {
  visibility: hidden;
}
